<!DOCTYPE html>
<html>
  <head>
    <title>Band Database</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>
      <h4><a href="/bands">View All Bands</a></h4>
      <h4><a href="/venues">View All Venues</a></h4>
      <h4><a href="/">Home Page</a></h4>
      #parse( $template )

    </div>
  </body>
</html>
